html,
body {
    background-color: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    font-size: 16px;

}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: .625rem;
    top: 1.125rem;
}

.content {
    text-align: center;
    position: relative;
}

.title {
    font-size: 5.25rem;
}

.links>a {
    color: #636b6f;
    padding: 0 1.5625rem;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 1.875rem;
}

.header {
    bottom: 0;
    height: 5rem;
    left: 0;
    margin: 0 auto;
    max-width: 120rem;
    padding-top: 1.25rem;
    position: relative;
    right: 0;
    top: 0;
    transition: background-color .5s;
    width: 100%;
    z-index: 1;
}

.imagen-fondo {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
}

.dimension {
    width: 118.9375rem;
    height: 51.6875rem;
}

.svg-icon {
    width: 10.4375rem;
    height: 2.8125rem;
    z-index: 1;
    padding: .5rem;
    fill: #e50914;
}

.titulo {
    max-width: 59.375rem;
    color: #ffffff;
    margin: 0px auto;
    position: relative;
    padding: 8em 0;

}

.btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #e50914;
    padding: .4375rem .8125rem;
    border-radius: .1875rem;
    font-weight: 600;
}

.transparencia {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 60%, rgba(0, 0, 0, .8));
}

.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: relative;
    right: .75rem;
    gap: 1.625rem;
    margin: 0 3.5rem;
}

.logo {
    margin-right: auto;
}

.idioma select {
    background-color: transparent;
    padding: .4375rem .75rem;
    color: #ffffff;
}

.background-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 390px;
}

.primerTitulo {
    font-size: 4rem;
    margin: 0 auto;
    line-height: 1.1;
}

@media only screen and (min-width: 1450px) {
    .primerTitulo {
        max-width: 800px;
    }
}

@media only screen and (min-width: 1450px) {
    .imagen-fondo {
        top: -6.25rem;
    }
}

@media only screen and (min-width: 1450px) {
    .content {
        padding: 70px 45px;
    }
}

@media screen and (min-width: 740px) {
    h1 {
        font-size: 38px;
    }
}

.button-form{
    border: none;
    padding: 27px 69.7px;
    cursor: pointer;
    border-radius: 0;
}
.button-form:hover{
    background-color: #e50911;
}

.input-form{
    padding: 23px 164px;
}

.tercerTitulo{
    font-weight: 600;
    margin: 0 auto;
    padding: 0 5%;
}

@media only screen and (min-width: 1450px){
    .tercerTitulo{
        font-size: 1.2rem;
        padding-bottom: 20px;
    }
    .form{
        max-width: 950px;
        padding-top: .85rem;
    }
}

.labelInput{
    position: absolute;
    color: #8c8c8c;
    top: 50%;
    left: 131px;
    transform: translateY(-50%);
}


div.row.primerBloque{
    margin: 0 auto;
    max-width: 1130px;
}

.tituloSecond{
    font-size: 3rem;
    color: #f1f1f1;
    margin: 0 auto;
    font-weight: 600;
}

.p1{
    font-size: 25px;
    font-weight: 600;
}

.tv1{
  position: relative;
  z-index: 2;
}

.videoTV{
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    top: 46%;
    position: absolute;
    width: 100%;
    transform: translate(-50%,-50%);
    left: 50%;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.imgVideo{
    position: relative;
    overflow: hidden;
}

.textoImagen{
    padding: 70px 45px;
    border-top: 8px solid #1c1c1c;
    border-bottom: 8px solid #1c1c1c;

}

.dimension {
    width: 48%;
}

.imagenTexto{
    padding: 70px 45px;
}

h2.h2{
    font-weight: 600;
    font-size: 3em;
}

.p2{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.6rem;
}

.animacion{
    position: absolute;
    width: 330px;
    display: flex;
    background: black;
    height: 104px;
    border-radius: 12px;
    border: 2px solid #343434;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8%;
    box-shadow: 0 0 2em 0 #000;
}

.serie{
    max-height: 90px;
}

.texto{
    line-height: 2px;
}
.animacion-img{
    width: 48px;
    margin: 0 auto;
}

.videoImg{
    position: relative;
    overflow: hidden;
    width: 34.7156rem;
    height: 26.0369rem;
}

.video{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videoAnimado {
    width: 21.87rem;
    height: 12.35rem;
}

.p2{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 33px;
}

.p3{
    font-weight: 600;
    font-size: 1.5rem;
}

.imagen{
    margin: -8% 0 -4% -15%;
    width: 100%;
    min-height: 100px;
    position: relative;
}

.faqs{
    padding: 70px 45px;
    border-top: 8px solid #1c1c1c;
    border-bottom: 8px solid #1c1c1c;
}

.faq{
    list-style: none;
    max-width: 850px;
}

.list{
    margin: 0 0 6px;
}

.oculto{
    display: none;
}

.button{
    background: #303030;
    color: white;
    padding: 18px 27px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    border-left: 0;
    border-right: 0;
}

.descripcion{

    background: #303030;
    max-width: 1200px;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: left;
}

.p-descripcion{
    padding: 20px 47px;
    margin: 0;
}

/* footer */

.footer{
    padding: 70px 45px;
}

.list-footer{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline;
    text-decoration-color: #303030;
}

footer{
    max-width: 1004px;
    margin: 0 auto;
}

/* Responsive */

@media only screen and  (max-width: 415px){

    /*  cabecera */

    .cabecera {
        margin: 0 0.5rem;
        gap: 0.625rem;
    }

    .logo {
        margin: 0 auto;
    }

    .svg-icon {
        width: 8.4375rem;
    }


    /* primera parte */

    .titulo {
        max-width: 23.375rem;
        padding: 4em 0;
    }

    .primerTitulo {
        font-weight: 700;
        font-size: 1.75em;
        line-height: 1.1em;
    }

    .segundoTitulo {
        font-size: 1.1em;
        font-weight: 600;
        margin: 0.5em;
    }
    
    .tercerTitulo {
        font-size: 1.1em;
        line-height: 1.4em;
        margin-bottom: 0.5em;
    }

    .input-form {
        padding: 0;
        width: 25em;
        height: 3.5em;
    }

    .labelInput {
        top: 31%;
        left: 1.5rem;
    }
    .button-form {
        padding: 0.5em 1em;
        margin-top: .75em;
    }

    /* Segundo apartado  */

    .textoImagen {
        padding: 2.8125rem 1.125rem;
    }
    
    .dimension {
        width: 100%;
    }
    .tituloSecond {
        font-size: 1.7em;
        font-weight: 800;
        text-align: center;
        margin-bottom: 0.5em;
    }

    .p1 {
        margin-top: 0.5em;
        text-align: center;
        font-size: 1.1em;
    }

    /* tercer apartado  */

    .textFirst {
        flex-direction: column-reverse;
    }
    .imagen {
        margin: 0;
    }

    h2.h2 {
        text-align: center;
        font-size: 1.5em;
    }

    .p2 {
        text-align: center;
        font-size: 1.2em;
    }

    .imagenTexto {
        padding: 66px 7px;
    }

    .p3 {
        text-align: center;
        font-size: 1.1em;
    }

    /* video de fondo */
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .videoImg {
        margin: 0 0 0 -1.75em;
        width: 24.7156rem;
        height: 25.0369rem;
    }

    .video {
        top: 27%;
        left: 50%;
    }

    .videoAnimado {
        width: 14.87rem;
        height: 17.35rem
    }

    /*  Preguntas frequentes */

    .faqs {
        padding: 0;
    }

    .text {
        margin: 2em 0;
    }

    .faq {
        padding-left: 0px;
        padding-right: 0px;
    }
}